.container {
    padding: 2rem 4rem;
}
.game-title {
    text-align: center;
}
.status {
    font-size: 2rem;
}
.board-row {
    display: flex;
}
.square {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
}